/* 
Global Declarations
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow: hidden;
}

/* 
Font Imports
*/
@font-face {
  font-family: 'akaDora';
  src: url('./fonts/akaDora.ttf') format('truetype'),
    url('./fonts/akaDora.otf') format('otf');
}
@font-face {
  font-family: 'trebuchet';
  src: url('./fonts/Trebuchet_MS.ttf') format('truetype');
}
/*
Bootstrap Overrides
*/
.container {
  max-width: 1400px !important;
}

.btn-primary {
  background-color: #fff !important;
  border-color: #fff !important;
  color: #000 !important;
}

.btn-primary:hover {
  background-color: #c0c0c0 !important;
  border-color: #c0c0c0 !important;
}

.btn-secondary {
  background-color: #ed7877 !important;
  border-color: #ed7877 !important;
  color: #fff !important;
}

.btn-secondary:hover {
  background-color: #c74fa8 !important;
  border-color: #c74fa8 !important;
}

a {
  text-decoration: none !important;
  color: #fff !important;
}

a:hover {
  text-decoration: none !important;
}

a:focus,
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none !important;
}

/*
Global Styles
*/
.page-height {
  height: 70vh;
}

.btn-main {
  width: 120px;
  height: 40px;
}

a:hover {
  text-decoration: none !important;
}

/*
Navbar Styles
*/
.nav-section {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 0px;
}
.brand {
  font-family: 'trebuchet';
  font-size: 30px;
  letter-spacing: 1px;
}

.brand-light h1 {
  font-size: 2rem;
  color: rgb(0, 0, 0);
  /* text-shadow: 1px 1px rgb(61, 61, 61); */
}

.logged-in {
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(14, 0, 141);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 1px rgb(14, 0, 141);
  cursor: pointer;
  position: relative;
  user-select: none;
}

.log-menu {
  z-index: 5;
  position: absolute;
  right: 20px;
  top: 75px;
  background: #fff;
  height: 110px;
  width: 170px;
  text-align: center;
  color: #fff;
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  user-select: none;
}

.log-menu p:hover {
  color: #ed7877;
  cursor: pointer;
}

/* 
Landing styles
*/
.landing-bg {
  background-attachment: fixed;
  background-image: url(./components//Landing/landBg.jfif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.bg-top-negative {
  background-position-y: -300px;
}
.landing-section {
  background: rgba(255, 255, 255, 0.11);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border-radius: 10px;
  padding: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.video-div {
  width: 950px;
  height: 550px;
}

.video-div video {
  margin-left: 50px;
  margin-top: 20px;
  width: 850px;
  height: 500px;
}

.text-div {
  width: 80%;
  height: 550px;
}

.text-div h3 {
  color: #400088;
}

.text-div h1 {
  font-family: 'trebuchet';
  font-size: 2rem;
}

/* 
Sign In Styles
*/
.bg-sign {
  height: 110vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url(./components/Auth/auth-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.signup-sec {
  height: 90vh;
}
.alt-block {
  position: relative;
  width: 100%;
  max-width: 1000px;
  height: 45vh;
  background: rgba(74, 144, 226, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.main-block {
  position: absolute;
  width: 500px;
  height: 600px;
  top: -10%;
  left: 5%;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.main-block button {
  width: 125px;
  height: 45px;
}

.alt-wrap {
  position: absolute;
  color: #fff;
  font-weight: 300;
  right: 7%;
  top: 30%;
  text-align: center;
}

.alt-wrap h2 {
  font-weight: 300;
}

.alt-wrap button {
  width: 140px;
  height: 40px;
  margin-top: 20px;
}

/* 
Sign Up Styles
*/
.up-block,
.main-block {
  position: absolute;
  width: 50%;
  height: 55vh;
  top: -10%;
  left: 5%;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.up-block form input {
  width: 80%;
  border: 1px solid rgba(0, 0, 0, 0.473);
  border-radius: 0;
}
.main-block form input {
  width: 80%;
  border: 1px solid rgba(0, 0, 0, 0.473);
  border-radius: 0;
}
.up-block button {
  width: 125px;
  height: 45px;
}

/* 
Pre SUrvey Style
*/
.bg-pre {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url(./components/Survey/survey_bg.jpg);
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
}

.option-main {
  color: #fff;
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.option-main h1 {
  font-size: 32px;
  font-weight: 300;
}

.option-wrap {
  margin-top: 30px;
  width: 100%;
  background: rgba(74, 144, 226, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-size: 32px;
  max-width: 600px;
}

.option-wrap a {
  height: 100px;
  width: 100%;
}

.option-wrap:hover {
  background: rgba(74, 145, 226, 0.712);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.option-disabled {
  background: rgba(59, 59, 59, 0.712);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 4px;
  width: 100%;
  max-width: 80%;
  border: 1px solid rgba(59, 59, 59, 0.712);
  max-width: 600px;
}

.option-disabled:hover {
  background: rgba(59, 59, 59, 0.712);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 4px;
  border: 1px solid rgba(59, 59, 59, 0.712);
}

/*
Customer Survey Styles
*/
.bg-customer {
  background-attachment: fixed;
  height: max-content;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url(./components/Survey/customer_bg.jpg);
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.survey-block {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 100%;
  max-width: 650px;
  color: #fff;
  justify-content: center;
}

.back-btn {
  margin-bottom: 20px;
}

.back-btn .fas {
  margin: 10px;
}

.survey-block form {
  width: 90%;
}

.survey-block form input {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.survey-block button {
  margin-bottom: 20px;
}
@media (min-width: 922px) {
  .landing-col-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60% !important;
  }
  .landing-section {
    max-width: 1000px;
    margin: 1rem 1rem;
  }
  .landing-col-two {
    width: 30% !important;
  }
  .video-div {
    height: clamp(70%, 70%, 70%);
    width: 100%;
  }
  .text-div {
    height: clamp(60%, 10%, 60%);
  }
  .video-div video {
    width: 100%;
    margin: 0;
    height: 90%;
    padding: 0;
  }
}
@media (max-width: 992px) {
  body,
  html {
    overflow-y: scroll;
  }
}
@media only screen and (max-width: 768px) {
  .video-div {
    width: 80%;
    height: 70%;
  }
  .video-div video {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  .text-div {
    height: 50%;
    width: 80%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .alt-wrap h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 767px) {
  .logged-in {
    position: absolute;
    right: 0;
    top: 10px;
  }
  .alt-block {
    height: 68vh;
  }
  .alt-wrap {
    position: absolute;
    bottom: 5%;
    top: auto;
    left: 6%;
  }
  .up-block,
  .main-block {
    width: 90%;
  }
  .signup-sec {
    height: auto;
    position: absolute;
    top: 30%;
  }
  .alt-wrap h2 {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 575px) {
  .video-div {
    width: 100%;
    height: 50%;
  }
  .video-div video {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  .text-div {
    height: 50%;
    width: 100%;
  }
}
