/* 
Global Declarations
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-x: hidden;
}

/* 
Font Imports
*/
@font-face {
  font-family: 'akaDora';
  src: url('./fonts/akaDora.ttf') format('truetype'),
    url('./fonts/akaDora.otf') format('otf');
}

/*
Bootstrap Overrides
*/
.container {
  max-width: 1400px !important;
}

.btn-primary {
  background-color: #fff !important;
  border-color: #fff !important;
  color: #000 !important;
}

.btn-primary:hover {
  background-color: #c0c0c0 !important;
  border-color: #c0c0c0 !important;
}

.btn-secondary {
  background-color: #ed7877 !important;
  border-color: #ed7877 !important;
  color: #fff !important;
}

.btn-secondary:hover {
  background-color: #c74fa8 !important;
  border-color: #c74fa8 !important;
}

a {
  text-decoration: none !important;
  color: #fff !important;
}

a:hover {
  text-decoration: none !important;
}

a:focus,
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none !important;
}

/*
Global Styles
*/
.page-height {
  height: 100vh;
}

.btn-main {
  width: 120px;
  height: 40px;
}

a:hover {
  text-decoration: none !important;
}

/*
Navbar Styles
*/
.brand {
  font-family: 'akaDora';
  font-size: 30px;
  letter-spacing: 1.5px;
}

.brand-light {
  color: #fff;
  text-shadow: 2px 5px #000;
}

/* 
Landing styles
*/
.bg {
  position: fixed;
  background-image: url(./components//Landing/landBg.jpg);
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-top-negative {
  background-position-y: -300px;
}

.video-div {
  width: 950px;
  height: 550px;
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.video-div video {
  margin-left: 50px;
  margin-top: 20px;
  width: 850px;
  height: 500px;
}

.text-div {
  width: 450px;
  height: 550px;
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.text-div h3 {
  color: #400088;
}

.text-div h1 {
  font-family: 'akaDora';
  text-shadow: 2px 5px #fff;
}

/* 
Sign In Styles
*/
.bg-sign {
  position: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url(./components/Auth/auth-bg.jpg);
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.alt-block {
  position: relative;
  margin-top: 200px;
  width: 1000px;
  height: 500px;
  background: rgba(74, 144, 226, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.main-block {
  position: absolute;
  width: 500px;
  height: 600px;
  top: -10%;
  left: 5%;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.main-block form {
  margin-top: 200px;
  margin-left: 30px;
}

.main-block form input {
  width: 400px;
  padding: 25px;
  border: 1px solid rgba(0, 0, 0, 0.473);
  margin: 20px;
  border-radius: 0;
}

.main-block button {
  margin-top: 20px;
  width: 125px;
  height: 45px;
  float: right;
  margin-right: 50px;
}

.alt-wrap {
  position: absolute;
  color: #fff;
  font-weight: 300;
  right: 7%;
  top: 30%;
  text-align: center;
}

.alt-wrap h2 {
  font-weight: 300;
}

.alt-wrap button {
  width: 140px;
  height: 40px;
  margin-top: 20px;
}

/* 
Sign Up Styles
*/
.up-block {
  position: absolute;
  width: 500px;
  height: 600px;
  top: -10%;
  left: 5%;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.up-block form {
  margin-top: 150px;
  margin-left: 30px;
}

.up-block form input {
  width: 400px;
  padding: 25px;
  border: 1px solid rgba(0, 0, 0, 0.473);
  margin: 20px;
  border-radius: 0;
}

.up-block button {
  margin-top: 20px;
  width: 125px;
  height: 45px;
  float: right;
  margin-right: 50px;
}

/* 
Pre SUrvey Style
*/
.bg-pre {
  position: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url(./components/Survey/survey_bg.jpg);
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.option-main {
  color: #fff;
  height: 100vh;
}

.option-main h1 {
  font-size: 32px;
  font-weight: 300;
  margin-top: -150px;
}

.option-wrap {
  margin-top: 30px;
  background: rgba(74, 144, 226, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-size: 32px;
}

.option-wrap a {
  height: 150px;
  width: 800px;
}

.option-wrap:hover {
  background: rgba(74, 145, 226, 0.712);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.option-disabled {
  background: rgba(59, 59, 59, 0.712);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 4px;
  border: 1px solid rgba(59, 59, 59, 0.712);
}

.option-disabled:hover {
  background: rgba(59, 59, 59, 0.712);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 4px;
  border: 1px solid rgba(59, 59, 59, 0.712);
}

/*
Customer Survey Styles
*/
.bg-customer {
  position: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url(./components/Survey/customer_bg.jpg);
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.survey-block {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 700px;
  color: #fff;
}
